<div class="header">
<span class="author">
  <%= comment.user.email %>
</span>
<span class="time">
  <%= comment.created_at %>
</span>

<%= link_to "Delete Comment", post_comment_path(comment.post_id, comment.id), method: :delete, remote: true if current_user == comment.user %>
</div>
<div class="body">
  <%= comment.content %>
</div>
