<div class="posts"
<div class="new-post">
<%= form_with(model: Post.new, remote: true) do |f| %>

<%= f.text_area :content, placeholder: "Type your post in here" %>
<%= f.submit "Post!" %>
<% end %>

</div>
<div id="all-posts">
<%= render @posts %>
</div>
</div>
